<app-top-toolbar (toggleSidenav)="sidenav.toggle()"></app-top-toolbar>

<mat-sidenav-container class="app-container">
  <mat-sidenav #sidenav [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)"
    class="app-sidenav">
    <app-left-menu></app-left-menu>
  </mat-sidenav>

  <mat-sidenav-content class="app-content">
    <div class="content-wrapper">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>

<app-loader></app-loader>